.Rproj.user
.Rhistory
.RData
.Ruserdata
Dashboard/input/*.tsv
*.csv
*.tsv
*.dbf

data/
*.tsv
*.csv
*.dbf
# Docker
*.tar

# Dados brutos
Dashboard/input/finais/
Dashboard/input/parciais/
Dashboard/input/tsv/

# Logs
logs/
Dashboard/input/municipios_2020.rds
Dashboard/input/dengue_raw.zip
